.top-menu{
    /* background-color: white; */
}
.logo{
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 10px;
}
.div-toggler{  
    position: absolute;
    right: 0;
    display: none;
    
}
.navbar{
    background-color: #000000;
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 5% 20% 60% 10%;
    justify-content: start;
    align-items: center;
    position: relative;
    
}

.nav-menu{
    background-color:black;
    width: 200px;
    height: 100%;
    right: -100%;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    
    transition: 850ms;
   
}

.nav-menu.active{
    right: 0;
    transition: 350ms;
}

.nav-text {
    
      
    /* display: flex;
    justify-content: start;*/
    padding: 0px 0px 0px 5px;
    list-style: none;
    height: 30px; 
}

.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    border-radius: 0px;
    padding: 8px;
}

.nav-text a:hover {
  
    background-color: #5BFFDA ;
    color: black;
    transition: 400ms;
}

.nav-menu-items {
    
  
    width: 100%;
}

.navbar-toggle{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    padding: 10px 4px;
    /* align-items: center; */
}
.menu-bars{
    color: white;
}


span {
    /* margin-left: 16px; */
}

.menu1{
    display: block;
    color: white;
    /* background-color: yellowgreen; */
    
}
.menu2{
    display: block;
   
    color: white;
    /* background-color: tomato;   */
    font-size: 2em;
    padding: 0;
    margin: 0;
    
}
.menu2>img{
    width: 30px;
    display: block;
}

.menu3{
    display: block;
    color: white;
    background-color: black;
}

.menu3-ul>li{
    display: inline;
   
}

@media screen and (max-width: 580px) {
    .div-toggler{  
        display: block;
    }

    .menu3{
        display: none;
    }

    .navbar{
        height: 70px;
    }
    
}